$color_1: #3f3f3f;
$color_2: rgb(210, 247, 0);
$font-family_1: 'Anton', sans-serif;
$font-family_2: 'Orbitron', sans-serif;
$background-color_1: #222222;
$background-color_2: rgb(0, 0, 0);
$background-color_3: #9dd642;
$background-color_4: #da111e;
$background-color_5: #fad73a;
$background-color_6: #1613e6;
$background-color_7: rgb(216, 211, 211);
$background-color_8: rgb(70, 72, 75);
$background-color_9: rgb(66, 99, 51);
$background-color_10: rgb(24, 230, 86);
$background-color_11: rgb(17, 11, 11);
$background-color_12: rgb(255, 18, 1);
$background-color_13: rgb(221, 17, 102);

@import "https://fonts.googleapis.com/css?family=Anton";
@import "https://fonts.googleapis.com/css?family=Orbitron";
/* main console */
/* Buttons */
/* coloured buttons */
/* appearance inner console */
body {
	background-color: $background-color_1;
}
.simon-game {
	background-color: $background-color_2;
	border: 10px solid rgb(0, 0, 0);
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	position: relative;
	overflow: hidden;
}
.button-click {
	position: absolute;
	width: 250px;
	height: 250px;
	border: 5px solid rgb(0, 0, 0);
	&:hover {
		cursor: pointer;
	}
}
.green {
	background-color: $background-color_3;
	right: 50%;
	bottom: 50%;
}
.red {
	background-color: $background-color_4;
	left: 50%;
	bottom: 50%;
}
.yellow {
	background-color: $background-color_5;
	right: 50%;
	top: 50%;
}
.blue {
	background-color: $background-color_6;
	left: 50%;
	top: 50%;
}
.green.light {
	opacity: 0.8;
}
.red.light {
	opacity: 0.8;
}
.yellow.light {
	opacity: 0.8;
}
.blue.light {
	opacity: 0.8;
}
.controls {
	background-clip: content-box;
	margin: auto;
	vertical-align: middle;
	border-radius: 50%;
	width: 236px;
	height: 236px;
	background-color: $background-color_7;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 12px solid rgb(0, 0, 0);
}
h1 {
	font-family: $font-family_1;
	font-size: 50px;
	margin-top: 37px;
	margin-left: -10px;
}
.counter-bg {
	width: 58px;
	height: 40px;
	background-color: $background-color_8;
	border: 4px solid rgb(0, 0, 0);
	margin-left: 28px;
}
.counter-text {
	color: $color_1;
	font-size: 25px;
	margin-top: 1px;
}
.counter-text.turn {
	color: $color_2;
	font-family: $font-family_2;
	margin-top: 4px;
}
.button {
	border: 4px;
	outline: none;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	cursor: pointer;
	&:active {
		opacity: 0.8;
	}
}
.start-button {
	margin-top: -34px;
	margin-left: 102px;
	background-color: $background-color_9;
}
.start-button.on {
	margin-top: -34px;
	margin-left: 102px;
	background-color: $background-color_10;
}
.strict-button {
	margin-top: -28px;
	margin-left: 155px;
	background-color: $background-color_11;
}
.strict-button.light-up {
	background-color: $background-color_12;
}
.titles {
	font-size: 10px;
	font-weight: bold;
	position: absolute;
}
.count {
	top: 139px;
	left: 36px;
}
.start {
	top: 139px;
	left: 97px;
}
.strict {
	top: 139px;
	left: 148px;
}
.off {
	top: 165px;
	left: 55px;
}
.on {
	top: 165px;
	left: 133px;
}
.simon-switch {
	position: absolute;
	width: 40px;
	height: 20px;
	background-color: $background-color_1;
	top: 171px;
	left: 85px;
	cursor: pointer;
}
.simon-switch-small {
	background-color: $background-color_13;
	width: 20px;
	height: 20px;
}
.simon-switch-small.turnon {
	float: right;
}
